@model TieTheKnot.Models.VendorInfo

@{
    ViewData["Title"] = "Create";
}


<h4>VendorInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VendorName" class="control-label"></label>
                <input asp-for="VendorName" class="form-control" />
                <span asp-validation-for="VendorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GstNumber" class="control-label"></label>
                <input asp-for="GstNumber" class="form-control" />
                <span asp-validation-for="GstNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <select asp-for="City" class="form-control">
                    <option value="">Select City</option>
                    <option value="Pune">Pune</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Lonavala">Lonavala</option>
                    <option value="Satara">Satara</option>
                    <option value="Navi Mumbai">Navi Mumbai</option>
                    <option value="Panvel">Panvel</option>
                    <option value="Kolhapur">Kolhapur</option>
                </select>                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Facility" class="control-label"></label>
                <select asp-for="Facility" class="form-control">
                    <option value="">Select Facility</option>
                    <option value="Phtotgrapher and Videographer">Phtotgrapher and Videographer</option>
                    <option value="Accomodations for Guests">Accomodations for Guests</option>
                    <option value="Jwellery Shopping">Jwellery Shopping</option>
                    <option value="Wedding card maker">Wedding card maker</option>
                    <option value="Makeup Artists">Makeup Artists</option>
                    <option value="Choreographer">Choreographer</option>

                </select>                <span asp-validation-for="Facility" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Charges" class="control-label"></label>
                <input asp-for="Charges" class="form-control" />
                <span asp-validation-for="Charges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureLinks" class="control-label"></label>
                <input asp-for="PictureLinks" class="form-control" />
                <span asp-validation-for="PictureLinks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
