@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>


</head>
<body>

    <div class="slider">
        <div class="load" style=".slider {
    background-color: white;
}

.load h2,
.principal h2 {
    color: #001f3f; /* Dark blue color */
}

.content p {
    color: orangered;
}
">
            <center>
                <h2 style="color:blue;">
                    Your Dream Wedding Awaits
                </h2>
            </center>
            <div class="content">

                    @* <center>
                        <p style="color:orangered; font-family: Arial; font-weight: 600; margin-top: 10px; font-size: 25px;">
                            Unforgettable Wedding Moments

                        </p></center> *@
                        <br />
                <div class="principal">
                   <center> <h2 style="    color: orangered; /* Dark blue color */
">
                        Cherish every moment with our expert planning and seamless
                        execution. Your wedding, your way.
                        </h2></center>
                </div>
            </div>
            <div style="margin-top: -15px; text-align: center;">
                <br /><br />
                <center><h1>Featured Photography Services</h1></center>                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card" style="margin-top: 20px; border: 0;border-radius:25px;">
                                <img class="card-img-top" src="/Uploads/Img1.jpg" alt="Card image cap" height="250px" style="border-top-left-radius:25px;border-top-right-radius:25px" />
                                <div class="card-body" style="height: 200px">
                                    <h5 class="card-title">Wedpro Photograph</h5>
                                    <p class="card-text">
                                        Wedpro Photography is a photography service located in the city of West Delhi. Choosing the right photographer is one of the main tasks while planning a perfect wedding as they transform your precious moments into memories to cherish for a lifetime.
                                       
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card" style="margin-top: 20px; border: 0;border-radius:25px;">
                                <img class="card-img-top" src="/Uploads/Img2.jpg" alt="Card image cap" height="250px" style="border-top-left-radius:25px;border-top-right-radius:25px" />
                                <div class="card-body" style="height: 200px">
                                    <h5 class="card-title">Anubhav Film</h5>
                                    <p class="card-text">Anubhav Film is a wedding photography and videography service based in Varanasi. Weddings are one of a kind. They happen once in a lifetime which makes them a milestone for an event which is a unique and memorable event.></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm" style="border-radius: 30px">
                            <div class="card" style="margin-top: 20px; border: 0; border-radius:25px;">
                                <img class="card-img-top" src="/Uploads/Img3.jpg" alt="Card image cap" height="250px" style="border-top-left-radius:25px;border-top-right-radius:25px" />
                                <div class="card-body" style="height: 200px">
                                    <h5 class="card-title">Fab Photowork</h5>
                                    <p class="card-text">Fab Photowork, based in Delhi, specialises in capturing special moments of nuptial celebrations in vibrant and entertaining pictures. They offer photography and videography, including pre-and post-wedding picture shoots.</p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: -15px; text-align: center;">
                <br /><br />
                <center><h1>Featured Wedding Venues</h1></center>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card" style="margin-top: 20px; border: 0;border-radius:25px;">
                                <img class="card-img-top" src="/Uploads/Image2.jpg" alt="Card image cap" height="250px" style="border-top-left-radius:25px;border-top-right-radius:25px" />
                                <div class="card-body" style="height: 200px">
                                    <h5 class="card-title">GCC Hotel, Mumbai</h5>
                                    <p class="card-text">
                                        GCC Hotel and Club is amidst the 3-star hotels in the city of Mumbai which provides best-in-class services to its clients. From 1933, since its establishment, it has been amazing the residents of Thane, with its classy service and luxurious interiors.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card" style="margin-top: 20px; border: 0;border-radius:25px;">
                                <img class="card-img-top" src="/Uploads/Image3.jpg" alt="Card image cap" height="250px" style="border-top-left-radius:25px;border-top-right-radius:25px" />
                                <div class="card-body" style="height: 200px">
                                    <h5 class="card-title">The Leela, Mumbai</h5>
                                    <p class="card-text">The Leela Mumbai is an ideal choice if you are planning a five-star wedding celebration. Located in an accessible position from the airport, railway station, and all the major centres, this magnificent hotel provides easy access and offers.></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm" style="border-radius: 30px">
                            <div class="card" style="margin-top: 20px; border: 0; border-radius:25px;">
                                <img class="card-img-top" src="/Uploads/Image.jpg" alt="Card image cap" height="250px" style="border-top-left-radius:25px;border-top-right-radius:25px" />
                                <div class="card-body" style="height: 200px">
                                    <h5 class="card-title">The Palace Halls, Worli</h5>
                                    <p class="card-text">The Palace Halls is Mumbai's finest venue that offers you a stunning space right in the heart of the city to host all kinds of edding functions with your loved ones. Spread over combined 16000 square feet, combined with open air space.</p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>
@section scripts {
    <script src="~/js/Slider.js"></script>
    <link rel="stylesheet" href="~/css/Slider.css" />
}